
@media only screen and (max-width: 600px)
{
   .container {
       flex-wrap: wrap;
   } 




   


}


  /* Nav Bar b*/

.inline-block {
display: inline-block;
vertical-align: top;
}

nav {
    /* outline:3px solid red; */
      display:inline-block;
      height: 88px;
    width: 100%;

  
}

.logo { 
    /* outline:3px solid red; */
   
    /* width: 23%; */
    height: 98%;
    /* padding: 1%; */
    text-align: left;
}



.navbar {
    /* outline:3px solid red; */
    display: inline-block;
    width: 99%%;
    /* padding: 1%; */
    list-style-type: none;
    text-align: center;

   

}



.h1 {

font-family: Museo Slab;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 67px;
display: flex;
align-items: center;

}



h3 {

font-family: Museo Slab;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
}



li .smallCopy {

font-family: Museo Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 180%;
/* or 29px */

display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #000000;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-left: auto;
    
}

.li {

list-style: none;
display: inline-block;
padding: 16px;
font-family: Museo Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
align-items: center;
text-align: center;
}

.mySkills li {

    list-style: none;
    /* display: inline-block; */
    padding: 16px;
    font-family: Museo Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: left;
    }



  /* Hero Image b*/

.heroImg {
    display: flex;
    /* outline:3px solid red; */
    /* display: inline-block; */
    height: 500px;
    padding: 25px 25px;
    width: 100%;
    text-align: center;
    align-items: start;
    

}

.content {
  display: inline-block;
   width: 49%;
   /* outline:3px solid red; */
   font-family: Museo Sans;
     font-style: normal;
    font-weight: normal;
font-size: 18 px;
line-height: 150%;
text-align: left;
padding: 24px;
}

.profileImg {
    display: inline-block;
    width: 49%;
}

.aboutIntro {
/* outline:3px solid red; */
display: flex;
position: absolute;
width: 692px;
height: 276px;
left: 551px;
top: 175px;
}


  /* Footer b*/

footer {
   
    /* outline:3px solid red; */
    background-color: #373738;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}
   
footer ul {
   
    /* outline:3px solid red; */
    width: 100%;
    display: inline-block;
    list-style: none;
    color: white;
    vertical-align: top;
    text-align: left;
    font-family: Museo Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 24px;
    text-align: center;
}

/* .flexContainer {
    outline:3px solid red;
    display:flex;
    flex-direction: column;
    column-gap: 10px;
} */

.workGrid {
    background-color: #DEB407;
    align-content: center;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "shoestring root deptofed";
    padding: 42px;
    grid-gap: 42px;
    align-content: space-between;
    height: 775px;

}

.shoestring {
    
  
    padding:48px;
    background-color:#FFFEF9;
    text-align: center;
}
.root {
 
    padding:48px;
    background-color:#FFFEF9;
    text-align: center;
}
.deptofed {
  
    padding:48px;
    background-color:#FFFEF9;
    text-align: center;
}

/* .grid-container {
    display:grid;
    grid-template-areas: 'myArea myArea myArea';
} */


.mySkills {
    /* outline:3px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;

        /* position: absolute; */
        /* width:100%; */
          
        /* position: absolute; */
        
        height: 775px;
        background-color: #FFFEF9;
        }
          
        /* .mySkills div {
          padding: 10px;
        } */
        
        .aboutIntro {
        position: absolute;
        width: 692px;
        height: 276px;
        left: 551px;
        top: 175px;
        }
        
        .aboutMe {
        position: absolute;
        width: 679px;
        height: 410px;
        left: 553px;
        top: 490px;
        }
        
        h3 {
        font-family: Museo Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        /* or 150% */
        display: flex;
        align-items: center;
        
        /* DB504A */
        color: #DB504A;
        }
        
        .skills {
        flex: 1;
        /* position: absolute; */
        /* width: 300px; */
        /* height: 810px;
        left: 196px;
        top: 132px; */
        }
        
        .about{
        flex: 3;
        }
        
        .graphicDesign {
            width: 33%;
        }
        
        .UXUI {
            width: 33%;
        }
        
        .software{
            width: 33%;
        }
        
        
        p {
        font-family: Museo Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 180%;
        /* or 38px */
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        
        color: #000000;
        }
        
        
       

        h3 {

            font-family: Museo Slab;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            /* identical to box height, or 150% */
            
            display: flex;
            align-items: center;
            }

button {
                
    padding: 24px;
    height: 68px;
    background: #DB504A;
    border-radius: 24px;
    font-family: Museo Slab;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

color: #ffffff;
            }

            
/* shoestring */


/* position: absolute;
width: 504.83px;
height: 581.93px;
left: 0px;
top: 0px; */

/* SHOE STRING MOBILE APP */


/* position: absolute;
width: 397.59px;
height: 54.22px;
left: 48.19px;
top: 462.66px;

/* Body Copy Strong */

/* font-family: Museo Sans;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #000000;  */


/* Mobile App for People Traveling on Budget */


/* position: absolute;
width: 436.15px;
height: 43.37px;
left: 48.19px;
top: 510.85px;

/* Small Copy */

/* font-family: Museo Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 180%; */
/* or 29px */

/* display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #000000; */ 

/* position: absolute;
width: 407.23px;
height: 407.23px;
left: 48.19px;
top: 39.76px;

background: #C4C4C4; */






            
}



